DATABASE_URL="postgres://6298449358125c71b6c1f9ba8c2c3cdd5b74a94d45ceed08fe5be27e11f69c8b:sk_JvfJ4l0uVMc-MQnVzA9KU@db.prisma.io:5432/postgres?sslmode=require"
JWT_SECRET="replace-with-a-long-random-secret"
COOKIE_SECURE=false

# Optional seed tuning
SEED_SPECIES_LIMIT=386
SEED_MOVES_LIMIT=1100
SEED_ITEMS_LIMIT=1000
SEED_ABILITIES_LIMIT=250
SEED_CONCURRENCY=8
